cdp_integration_node_red_flow.json
[{"id":"226f2f11.215b","type":"tab","label":"CDP Integration","disabled":false,"info":""},{"id":"4280ee00.122fb4","type":"split","z":"226f2f11.215b","name":"split attributes (serial numbers)","splt":",","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":640.01953125,"y":803.0039119720459,"wires":[["d62e3ec.2987cc"]]},{"id":"570e850d.4a860c","type":"change","z":"226f2f11.215b","name":"get reports","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.reports","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":383.01956939697266,"y":803.0038967132568,"wires":[["4280ee00.122fb4"]]},{"id":"d62e3ec.2987cc","type":"function","z":"226f2f11.215b","name":"save values","func":"msg.timestamp = msg.payload.timestamp;\nmsg.serialNumber = msg.payload.serialNumber;   \nmsg.topic = msg.payload.serialNumber.trim();   \nmsg.resourcePath = msg.payload.resourcePath;\nmsg.payload.raw =  msg.payload.value;\n    \nreturn msg;","outputs":1,"noerr":0,"x":908.5197906494141,"y":803.0041255950928,"wires":[["5484eb0c.ed8e34"]]},{"id":"5484eb0c.ed8e34","type":"function","z":"226f2f11.215b","name":"hex to string","func":"// Convert hex to string \n\nvar str = \"\";\nfor (var n=0; n<msg.payload.value.length; n+=2) {\n    str += String.fromCharCode(parseInt(msg.payload.value.substr(n,2), 16));\n}\nmsg.payload.value = str;\nreturn msg;","outputs":1,"noerr":0,"x":1140.6864280700684,"y":802.3373928070068,"wires":[["7c922433.44e02c","dbd68da.4dab57","d39c6b2b.964f08","403ca55f.2129ec"]]},{"id":"7c922433.44e02c","type":"debug","z":"226f2f11.215b","name":"Reports","active":true,"console":"false","complete":"payload","x":1461.9024276733398,"y":642.953173160553,"wires":[]},{"id":"403ca55f.2129ec","type":"file","z":"226f2f11.215b","name":"log.txt","filename":"log.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1461.4063987731934,"y":826.1328315734863,"wires":[]},{"id":"5de9537d.faa41c","type":"http in","z":"226f2f11.215b","name":"/my_application","url":"/my_application","method":"post","upload":false,"swaggerDoc":"","x":139.89842987060547,"y":802.3360481262207,"wires":[["570e850d.4a860c","115cd448.4feb3c"]]},{"id":"dbd68da.4dab57","type":"mqtt out","z":"226f2f11.215b","name":"","topic":"tmnl_sodaq_event","qos":"","retain":"","broker":"874b0502.3b77c8","x":1498.3986282348633,"y":696.648473739624,"wires":[]},{"id":"27364423.07fa0c","type":"udp out","z":"226f2f11.215b","name":"","addr":"","iface":"","port":"","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1459.3985061645508,"y":757.5820217132568,"wires":[]},{"id":"b955b543.86fad8","type":"e-mail","z":"226f2f11.215b","server":"smtp.gmail.com","port":"465","secure":true,"name":"test@gmail.com","dname":"","x":1492.89066696167,"y":884.996114730835,"wires":[]},{"id":"4b7e7799.be0bb8","type":"comment","z":"226f2f11.215b","name":"1) Register application","info":"This is the HTTP endpoint that you register in the CDP\n\ncurl -X PUT \\\n  https://iot.netwerk.t-mobile.nl/m2m/applications/registration \\\n  -H 'Accept: application/json' \\\n  -H 'Authorization: Basic xxx' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\t\"headers\" : {\t},\n\t\"url\" : \"https://<this node red server>/my_application\"\n}\n'","x":155.89453125,"y":888.4101915359497,"wires":[]},{"id":"e576a25d.6ad1b","type":"inject","z":"226f2f11.215b","name":"Reports example","topic":"installfest","payload":"{\"reports\":[{\"serialNumber\":\"IMEI:358878080020537\",\"timestamp\":1524582877912,\"subscriptionId\":\"fab4fabf-3e60-401a-bbea-cef815635d98\",\"resourcePath\":\"uplinkMsg/0/data\",\"value\":\"aabbccdd\"}],\"registrations\":[],\"deregistrations\":[],\"updates\":[],\"expirations\":[],\"responses\":[]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":203.01952362060547,"y":580.0039253234863,"wires":[["570e850d.4a860c"]]},{"id":"5a1350ea.d557e","type":"comment","z":"226f2f11.215b","name":"0) Inject test message","info":"","x":186.8984375,"y":532.4101600646973,"wires":[]},{"id":"828da6be.01de78","type":"comment","z":"226f2f11.215b","name":"2) Set msg.payload to msg.payload.reports","info":"","x":461.89452362060547,"y":902.3984413146973,"wires":[]},{"id":"c2b7f63f.15a128","type":"comment","z":"226f2f11.215b","name":"3) A separate message for every serialnumber","info":"","x":680.8867111206055,"y":957.4023571014404,"wires":[]},{"id":"1a836f77.3c3481","type":"comment","z":"226f2f11.215b","name":"4) Contstruct new message format to match target","info":"msg.timestamp = msg.payload.timestamp;\nmsg.serialNumber = msg.payload.serialNumber;   \nmsg.topic = msg.payload.serialNumber.trim();   \nmsg.resourcePath = msg.payload.resourcePath;\nmsg.payload.raw =  msg.payload.value;\n    \nreturn msg;","x":1021.8828048706055,"y":1011.9140758514404,"wires":[]},{"id":"a4049ed5.a8e25","type":"comment","z":"226f2f11.215b","name":"5) Convert payload to string (if it makes sense to do so)","info":"// Convert hex to string \n\nvar str = \"\";\nfor (var n=0; n<msg.payload.value.length; n+=2) {\n    str += String.fromCharCode(parseInt(msg.payload.value.substr(n,2), 16));\n}\nmsg.payload.value = str;\nreturn msg;","x":1269.8906173706055,"y":1068.9062633514404,"wires":[]},{"id":"d39c6b2b.964f08","type":"dweetio out","z":"226f2f11.215b","thing":"tmnl_sodaq_event","name":"","x":1473.0195083618164,"y":935.0039434432983,"wires":[]},{"id":"5b56ddcf.352524","type":"http response","z":"226f2f11.215b","name":"http","statusCode":"","headers":{},"x":531.01953125,"y":1087.00390625,"wires":[]},{"id":"115cd448.4feb3c","type":"function","z":"226f2f11.215b","name":"Return OK","func":"msg.statusCode = \"200\"\nmsg.payload = \"Welcome\"\nreturn msg;","outputs":1,"noerr":0,"x":331.0195732116699,"y":1087.003911972046,"wires":[["5b56ddcf.352524"]]},{"id":"874b0502.3b77c8","type":"mqtt-broker","z":"","name":"iot.eclipse.org","broker":"iot.eclipse.org","port":"1883","clientid":"tmnl_sodaq_event","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]